[
	{zaya_leveldb, [
		{open_attempts, 5},
		{rocksdb, #{
			%compression_algorithm => todo,
			open_options=>#{
				total_threads => 64,
				create_if_missing => false,
				%create_missing_column_families => todo,
				%error_if_exists => false,
				paranoid_checks => false,
				%max_open_files => todo,
				%max_total_wal_size => todo,
				% use_fsync => todo,
				% db_paths => todo,
				% db_log_dir => todo,
				% wal_dir => todo,
				% delete_obsolete_files_period_micros => todo,
				% max_background_jobs => todo,
				% max_background_compactions => todo,
				% max_background_flushes => todo,
				% max_log_file_size => todo,
				% log_file_time_to_roll => todo,
				% keep_log_file_num => todo,
				% max_manifest_file_size => todo,
				% table_cache_numshardbits => todo,
				% wal_ttl_seconds => todo,
				% manual_wal_flush => todo,
				% wal_size_limit_mb => todo,
				% manifest_preallocation_size => todo,
				% allow_mmap_reads => todo,
				% allow_mmap_writes => todo,
				% is_fd_close_on_exec => todo,
				% skip_log_error_on_recovery => todo,
				% stats_dump_period_sec => todo,
				% advise_random_on_open => todo,
				% access_hint => todo,
				% compaction_readahead_size => todo,
				% new_table_reader_for_compaction_inputs => todo,
				% use_adaptive_mutex => todo,
				% bytes_per_sync => todo,
				% skip_stats_update_on_db_open => todo,
				% wal_recovery_mode => todo,
				allow_concurrent_memtable_write => true
				% enable_write_thread_adaptive_yield => todo,
				% db_write_buffer_size => todo,
				% in_memory => todo,
				% rate_limiter => todo,
				% sst_file_manager => todo,
				% write_buffer_manager => todo,
				% max_subcompactions => todo,
				% atomic_flush => todo,
				% use_direct_reads => todo,
				% use_direct_io_for_flush_and_compaction => todo,
				% enable_pipelined_write => todo,
				% unordered_write => todo,
				% two_write_queues => todo,
				% statistics => todo
			},
			read => #{
				% read_tier => todo,
				verify_checksums => false
				%fill_cache => todo,
				% iterate_upper_bound => todo,
				% iterate_lower_bound => todo,
				% tailing => todo,
				% total_order_seek => todo,
				% prefix_same_as_start => todo,
				% snapshot => todo
			},
			write => #{
				sync => false
				% disable_wal => todo,
				% ignore_missing_column_families => todo,
				% no_slowdown => todo,
				% low_pri => todo
			}
		}}
	]}
].
